<%# navbar ------- %>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.freepik.es/vector-gratis/fondo-luces-neon_13295394.htm#&position=34&from_view=detail#&position=34&from_view=detail);">
  <div class="container">
  <%# search input-------- %>
    <h1> Let's find a superpower for you today: </h1>
    <div>
      <%= simple_form_for :search, url: superpowers_path, method: "GET", html: { class: 'form-inline mt-3' } do |f| %>
      <%= f.input :name, placeholder: 'Search by name, description, category or username of the seller', label:false, input_html: {value: ""} %>
      <div class="center-button">
      <%= f.submit "Search", class: "main-button" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="text-center p-3 mt-3">
  <p> <%= link_to "Create a Superpower", new_superpower_path, class: "link" %> </p>
</div>
<div class="main-container">
  <% if @superpowers.empty? %>
    <h2> No superpowers found :( </h2>
  <%else%>
    <div class="cards">
      <% @superpowers.each do |superpower| %>
        <% if current_user.id != superpower.user_id %>
          <figure class="image-card">
            <% if superpower.photo.attached? %>
              <%= cl_image_tag superpower.photo.key, height: 300, width: 400, crop: :fill %>
            <% else %>
              <img src="https://source.unsplash.com/71u2fOofI-U/300x510" />
            <% end %>
            <figcaption>
              <h3> <%=superpower.name.capitalize  %> </h3>
              <p>from £<%= superpower.price %></p>
              <%= link_to "See details", superpower_path(superpower), class:"card-link" %>
            </figcaption>
          </figure>
        <% end %>
      <% end %>
    </div>
  <% if !@superpowers.empty? %>
  <div class="msg-container w-100 text-center">
    <div class="p-3 mt-3">
      <h2> <%= @message %> </h2>
    </div>
  </div>
    <div class="cards">
      <% @superpowers.each do |superpower| %>
        <% if current_user.id == superpower.user_id %>
          <figure class="image-card yours">
            <% if superpower.photo.attached? %>
              <%= cl_image_tag superpower.photo.key, height: 300, width: 400, crop: :fill %>
            <% else %>
              <img src="https://source.unsplash.com/71u2fOofI-U/300x510" />
            <% end %>
            <figcaption>
              <h3> <%=superpower.name.capitalize  %> </h3>
              <span class="card-tag tag-purple"> <%= superpower.category %> </span>
              <%= link_to "See details", superpower_path(superpower), class:"card-link" %>
            </figcaption>
          </figure>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% end %>
</div>
