<%# navbar ------- %>


<div class="banner mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.wired.com/photos/5c54ee6a4feec32ca0f590d8/125:94/w_1761,h_1324,c_limit/superman-922909434.jpg);">
  <div class="container">
  <%# search input---need to add to back-end ----- %>
    <h1> Let's find a superpower for you today: </h1>
      <%= simple_form_for :search, url: superpowers_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <%= f.input :name, input_html: {value: ""} %>
      <%= f.submit "Search", class: "main-button" %>
      <% end %>
  </div>
</div>

<!--   <div class="cards">
    <% @superpowers.each do |superpower| %>
      <figure class="image-card">
        <h1><%= superpower.name %></h1>
        <% if superpower.photo.attached? %>
          <%= cl_image_tag superpower.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <img src="https://source.unsplash.com/71u2fOofI-U/300x510" />
        <% end %>
        <figcaption>
          <h3>Read more</h3>
          <p><%= superpower.description %></p>
          <%= link_to "See details", superpower_path(superpower), class:"card-link" %>
        </figcaption>
      </figure>
    <% end %> -->
<div class="wrapper">
      <h1>Superpowers</h1>
      <%= link_to "Create a Superpower", new_superpower_path, class: "btn btn-ghost" %>
          <% if @superpowers.empty? %>
            <h2> No superpowers found :( </h2>
          <%else%>
            <div class="main-container">
            <% @superpowers.each do |superpower| %>
              <% if current_user.id != superpower.user_id %>
                <div class="cards">
                  <figure class="image-card">

                    <h2><%= link_to superpower.name, superpower_path(superpower) %></h2>
                    <% if superpower.photo.attached? %>
                      <%= cl_image_tag superpower.photo.key, height: 300, width: 400, crop: :fill %>
                    <% else %>
                      <img src="https://source.unsplash.com/71u2fOofI-U/300x510" />
                    <% end %>
                    <figcaption>
                      <h3>Read more</h3>
                      <p><%= superpower.description %></p>
                      <%= link_to "See details", superpower_path(superpower), class:"card-link" %>
                    </figcaption>
                  </figure>
                 </div>
                </div>
                <% end %>
              <% end %>
              <h2> Some powers you are renting out like a sell-out you are: </h2>
              <div class="main-container">
              <% @superpowers.each do |superpower| %>
              <% if current_user.id == superpower.user_id %>
                <div class="cards">
                  <figure class="image-card">
                      <h2><%= link_to superpower.name, superpower_path(superpower) %></h2>
                    <% if superpower.photo.attached? %>
                      <%= cl_image_tag superpower.photo.key, height: 300, width: 400, crop: :fill %>
                    <% else %>
                    <img src="https://source.unsplash.com/71u2fOofI-U/300x510" />
                    <% end %>
                    <figcaption>
                      <h3>Read more</h3>
                      <p><%= superpower.description %></p>
                      <%= link_to "See details", superpower_path(superpower), class:"card-link" %>
                   </figcaption>
                  </figure>
                 </div>
                </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
