<%# navbar ------- %>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/vector-gratis/concepto-fondo-luces-neon_52683-35551.jpg?size=626&ext=jpg);">
  <div class="container">
  <%# search input-------- %>
    <h1> Let's find a superpower for you today: </h1>
    <div class="search">
      <%= simple_form_for :search, url: superpowers_path, method: "GET", html: { class: 'form-inline mt-3' } do |f| %>
      <%= f.input :name, placeholder: 'Search by name, description, category or username of the seller', label:false, input_html: {value: ""} %>
      <div class="center-button d-flex justify-content-center">
        <%= f.submit "Search", class: "main-button", id:"search" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="main-container">
  <% if @superpowers.empty? %>
    <h2> No superpowers found :( </h2>
  <%else%>
    <div>
      <div class="d-flex justify-content-center my-3">
        <h1> Some superpowers for you: </h1>
      </div>
      <div class="cards">
        <% @superpowers.each do |superpower| %>
          <% if current_user.id != superpower.user_id %>
            <%= link_to superpower_path(superpower) do %>
              <figure class="image-card">
                <% if superpower.photo.attached? %>
                  <%= cl_image_tag superpower.photo.key, height: 300, width: 400, crop: :fill %>
                <% else %>
                  <img src="https://media.wired.com/photos/5c54ee6a4feec32ca0f590d8/125:94/w_1761,h_1324,c_limit/superman-922909434.jpg" />
                <% end %>
                <figcaption>
                  <h3> <%=superpower.name.capitalize  %> </h3>
                  <div class="info d-flex justify-content-between">
                    <h4> ★ <%= superpower.rating %></h4>
                    <p>from £<%= superpower.price %></p>
                  </div>
                </figcaption>
              </figure>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if !@superpowers.empty? %>
      <div class="msg-container w-100 text-center">
        <% if @ord == 1 %>
          <%= render "shared/order_1_header" %>
        <% else %>
          <%= render "shared/order_2_header" %>
        <% end %>
      </div>
      <div class="cards">
        <% @superpowers.each do |superpower| %>
          <% if current_user.id == superpower.user_id %>
            <%= link_to superpower_path(superpower) do %>
              <figure class="image-card yours">
                <% if superpower.photo.attached? %>
                  <%= cl_image_tag superpower.photo.key, height: 300, width: 400, crop: :fill %>
                <% else %>
                  <img src="https://media.wired.com/photos/5c54ee6a4feec32ca0f590d8/125:94/w_1761,h_1324,c_limit/superman-922909434.jpg" />
                <% end %>
                <figcaption>
                  <h3> <%=superpower.name.capitalize  %> </h3>
                  <span class="card-tag tag-purple"> <%= superpower.category %> </span>
                </figcaption>
              </figure>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
