<div class="bookings-container">
  <% if params[:no].present? %>
    <% if @booking.user_id == current_user.id %>
      <div class="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Booking successful!</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <%= @message %>
                <p> <%="Total cost: £#{@cost}" %> </p>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <h1> Your bookings </h1>
    <% if @bookings.empty? %>
      <div class="mx-3 my-5 p-3">
        <h3> - You have no bookings at this time </h3>
      </div>
      <%= link_to "Find another superpower to rent", superpowers_path, class:"main-button" %>
    <% else %>
      <%= link_to "Find another superpower to rent", superpowers_path, class:"main-button" %>
      <% @bookings.reverse.each do |booking| %>
        <div class="card-product">
          <img src="https://ak.picdn.net/shutterstock/videos/1027613123/thumb/3.jpg"/>
          <div class="card-product-infos">
            <h2><%= link_to booking.superpower.name, superpower_path(booking.superpower), class:"link" %></h2>
            <p> <%= "Rented from #{booking.superpower.user.username}" %> </p>
            <p> <%= "Dates: from #{booking.start_date} to #{booking.end_date}" %> </p>
            <p> <%= "Total price: £#{(booking.end_date-booking.start_date).to_i * (booking.superpower.price)}" %>
            <p><%= link_to "Cancel this booking", booking_path(booking), method:"DELETE", class:"link", data:{confirm: "Are you sure?"} %></p>
          </div>
        </div>
      <% end %>
      <div class="disclaimer-box">
        <a class="disclaimer"> "with great power comes great responsibility"</a>
        <h3>This means Superpowerly is not liable for:</h3>
        <p>- Any loss or damages caused by superpowers</p>
        <p>- Any responsibility and risk for the use of this website</p>
        <p>- Any mental or other damage caused by the use of our products</p>
        <p>- Any theft or otherwise missing powers</p>
      </div>
    <% end %>
</div>
